

body{
    background-color:white;
    font-family: arial;
    font-size: 16px;
    line-height: 1.25em;
    box-sizing: border-box;
    color: #2d2d2d;
}

.navigation{
    /*position: absolute;*/
    align-content:left;
    min-width:1500px;
    max-height:10px;
    color:red;
    padding: 10px;
    background-image: 20px;
    background:black;
}

.navigation nav{
text-align: right;
}

.navigation ul {
    text-align:right;
    font-size: 12px;
    font-weight: bold;
    list-style-type: none;
    padding:10px 5px;
    margin:0 auto;
    text-transform: uppercase;
    background-color: black;
    list-style: none;
}

.navigation img{
    text-align:left;
}

.navigation a{
    text-align: right;
}

.hero {
    background: url("file:///Users/breckontrischuk/Documents/final-project-assets/images/kayak-bkgd.jpg");
    color:white;
    background-size:cover;
    background-position: top center;
    background-repeat: no-repeat;
    text-align:center;
    position:relative;
    min-width:1140px;
    max-width: 1140px;
    max-height:500px;
    min-height: 300px;
    padding-top:80px;
    margin: 110px;
    }

button {
    padding: 5px;
    background-color: red;
    color: white;
    border: none;
    border-radius:50px;
    box-shadow: 2px 5px 10px black;
}

.container {
   font-size: 16px;
   font-style: italic;
   margin:auto;
   padding: 66px;
   text-align: center;
   width: 1140px;
   background-color:white;
}

.container img{
    min-width:32%;
    justify-content:space-between;
    display:flex;
    align-content: stretch;
    align-content: center;
    flex-direction: column;
}

section{
    text-align:center;
}
.h2{
    color:#646464;
}

a {
    color: #e2574c;
}

a:hover{
    color:blue;
}

section h4{
    font-size: 20px;
}

footer{
    text-align:left;
    background-color: black;
    color: white;
    min-width:100%;
}

.social p{
flex-direction:right;
}
