body{
    background-color:white;
    font-family: arial;
    font-size: 16px;
    line-height: 1.25em;
    box-sizing: border-box;
    color: #2d2d2d;
    max-width:1140px;
    min-width: 1140px;
    margin-top: 13px;
}

.banner{
    background-color: black;
    color:white;
    max-width: 100px;

}

.nav{
    display: flex;
    min-width: 1140px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;

}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}

.hero {
<<<<<<< HEAD
=======
    background: url("images/kayak-bkgd.jpg");
>>>>>>> master
    color:white;
    background-size:cover;
    background-repeat: no-repeat;
    text-align:center;
    position:relative;
    min-width:1140px;
    max-width: 100%;
    max-height:500px;
    min-height: 300px;
    padding-top:80px;
    margin: 110px;
    background-position: center;
    }

p { 
    align-content: center;
}

button {
    padding: 5px;
    background-color: red;
    color: white;
    border: none;
    border-radius:50px;
    box-shadow: 2px 5px 10px black;
}

.about, 
.rentals, 
.location {
   font-size: 16px;
   font-style: italic;
   margin:auto;
   /*padding: 66px;*/
   text-align: center;
   width: 1140px;
   background-color:white;
   min-width: 1140px;
}

.container img{
    min-width:32%;
    justify-content:space-between;
    align-content: stretch;
    align-content: center;
    display: flex;
    flex-direction: column;
}

.rentals table, 
.rentals th, 
.rentals td {
    border-collapse: collapse;
    border: 1px solid black;
    align-content: center;
    text-align: center;
}
.rentals table{
float:right;
padding-bottom: 200px;
}
.rentals h2{
    text-align: center;
}
.rentals{
    text-align: left;
}

.map{
    min-width: 1140px;
    min-height: 250px;
    align-content: center;
}
.h2{
    color:#646464;
}

a:hover{
    color:blue;
}

a{
    color:white
}

section h4{
    font-size: 20px;
}

footer{
    text-align:left;
    background-color: black;
    color: white;
    min-width:1140px;
}

.social, 
{
display: flex;
flex-direction:right;
flex-direction: row;
/*align-content: right;
clear:both;*/
}

